{% extends "base.html" %}

{% block search %}
<form action="{% url 'search_item' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="검색">
</form>
{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5" style="background-color: whites;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">My Shopping List</h1>
            <p class="lead fw-normal text-white-50 mb-0">쇼핑할 물건의 목록을 반환하는 페이지입니다</p>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  정렬기준
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="?sorting=descending-price">높은 가격 순</a></li>
                  <li><a class="dropdown-item" href="?sorting=ascending-price">낮은 가격 순</a></li>
                  <li><a class="dropdown-item" href="?sorting=name">이름</a></li>
                </ul>
              </div>
            </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5" style="background-color: white;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in paginated_list %}
            <div class="col mb-5">
                <a style="color:inherit; text-decoration:none;" href="{% url 'detail_page' item.pk %}">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if item.image %}
                        <img class="card-img-top" src="{{ item.image.url }}" alt="..." />
                        {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ item.name }}</h5>
                                <!-- Product price-->
                                {{ item.price }}<br>
                                {{ item.count }}<br>
                                {{ item.store }}<br>
                                {{ item.pk }}<br>
                                <hr>
                                {{ item.store.pk }}<br>
                                {{ item.store.name }}<br>
                                {{ item.store.address }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <ul class="pagination" style="justify-content: center;">
        <!-- 이전페이지 -->
        {% if paginated_list.has_previous %} 
            <li class="page-item">
                <a class="page-link" href="?page={{ paginated_list.previous_page_number }}&sorting={{ sorting }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled"></li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in paginated_list.paginator.page_range %}
            {% if page_number == paginated_list.number %} 
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}&sorting={{ sorting }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}&sorting={{ sorting }}">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if paginated_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginated_list.next_page_number }}&sorting={{ sorting }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled"></li>
        {% endif %}
    </ul>
</section>
{% endblock %}